{# /**
  * HTML/Twig
  *
  * @category Lap
  * @package views
  * @author Chabert Loic <chabert.loic.74@gmail.com>
  * @license http://github.com/lolostates/Lap/blob/master/LICENSE
  * @link https://github.com/lolostates/Lap
  *
  * Copyright 2012 Chabert Loic <chabert.loic.74@gmail.com>
  *
  *  This program is free software: you can redistribute it and/or modify
  *  it under the terms of the GNU General Public License as published by
  *  the Free Software Foundation, either version 3 of the License, or
  *  (at your option) any later version.
  *
  *  This program is distributed in the hope that it will be useful,
  *  but WITHOUT ANY WARRANTY; without even the implied warranty of
  *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  *  GNU General Public License for more details.
  *
  *   You should have received a copy of the GNU General Public License
  *   along with this program.  If not, see <http://www.gnu.org/licenses/>.
  */#}
  
{% extends "::layout.html.twig" %}

{% block title %}
    Annuaire - {{ parent() }}
{% endblock %}
    
 {% block menu_title %}Menu{% endblock %}

{% block body %}
   <h1>{% block h1 %}Annuaire{% endblock %}</h1>

    <hr>

    {# On gère les messages flash de façon globale pour tout le bundle
       On peut catégoriser les messages dans différents sacs (bag),
       ici on les a mis dans "info", "success" et "error", qui correspondent aux classes CSS du Bootstrap #}

        {% for name,flash in app.session.flashes %}
            <div class="alert alert-{{ name }}">
                {{ flash }}
            </div>
        {% endfor %}

    {# On définit un nouveau block, que les vues du bundle pourront remplir #}
    {% block lapannu_body %}
    {% endblock %}

{% endblock %}
    
